@import '../../app.scss';

.network{
    display:flex;
    align-items: center;
    justify-content: start;
    gap:5vw;
    padding:10vw;
    padding-top: 0;
    padding-bottom:5vh;

    @include mobile {
      flex-direction: column;
      width: 100vw;
      margin-top: 10vh;
    }

    .textContainer{
          width:35vw;

          @include mobile {
            width:90vw;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 10px;
          }

          h1{
            font-size: 40px;
            color:black;

            @include mobile {
              font-size: 20.5px;
              font-weight:900;
              margin-bottom: 10px;
              margin-top: 10px;
            }

          }

          button {
            height: 30px;
            width: 8vw;
            background-color: rgb(61, 121, 242);
            color: white;
            border-radius: 10px;
            // border-top: 20%;
            border: none;
            margin-top: 30px;
            font-size: 15px;
            padding: 5px;
            cursor: pointer;

            @include mobile {
              width: 25vw;
            }

          }
    }
    .Photo{
     width:40vw;
    
     @include mobile {
      width:80vw;
     }
     
     img{
        height: 100%;
        width: 100%;
        object-fit: contain;
     }
    }


    
}
.Inquerie{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    color:black;
  }

  .worktogether{
    display: flex;
    justify-content: start;
    gap:10px;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;

     @include mobile {
      width:90vw;
      flex-direction: column;

     }

    .block{
      width:25vw ;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @include mobile {
        width: 90vw;
      }


     h2{
      color:rgb(61, 121, 242);

      @include mobile{
        font-size: 20px;
      }

     }
     h4{
      color:grey;

      @include mobile {
        font-size: 13px;
      }

     }
     button{
      height:30px ;
      width: 8vw;
      background: rgb(61, 121, 242);
      color: white;
      border-radius: 10px;
      border: none;
      margin-top: 30px;
      font-size: 15px;
      padding: 5px;
      cursor: pointer;

      @include mobile {
        width: 25vw;
        margin-top: 15px;
      }
     }
    }

  }


}